<h1 id="titre"> {{titre}} </h1>
<div class="principal">
        <div class="fils">
           <img src="{{partenaire1.image}}" alt="{{partenaire1.nom}}">
            <h2>
                {{partenaire1.nom }}
            </h2>
            <p>
                <strong>
                {{partenaire1.description}}
              </strong>
            </p>
            <button class="bouton" (click)="onacliquer()"> {{bouton}} {{appreciation}} </button>
        </div>
        <div class="fils">
            <img src="{{partenaire2.image}}" alt="{{partenaire2.nom}}">
            <h2>
                {{partenaire2.nom}}
            </h2>
            <p>
                <strong>
                 {{partenaire2.description}}
               </strong>
            </p>
        </div>
        <div class="fils">
            <img src="{{partenaire3.image}}" alt="{{partenaire3.nom}}">
            <h2>
                {{partenaire3.nom}}
            </h2>
            <p>
                <strong>
                 {{partenaire3.description}}
               </strong>
            </p>
        </div>
        <div class="fils">
            <img src="{{partenaire4.image}}" alt="{{partenaire4.nom}}">
            <h2>
                {{partenaire4.nom}}
            </h2>
            <p>
                <strong>
                 {{partenaire4.description}}
               </strong>
            </p>
        </div>
        <div class="fils">
            <img src="{{partenaire5.image}}" alt="{{partenaire5.nom}}">
            <h2>
                {{partenaire5.nom}}
            </h2>
            <p>
                <strong>
                 {{partenaire5.description}}
               </strong>
            </p>
        </div>
        <div class="fils">
            <img src="{{partenaire6.image}}" alt="{{partenaire6.nom}}">
            <h2>
                {{partenaire6.nom}}
            </h2>
            <p>
                <strong>
                 {{partenaire6.description}}
               </strong>
            </p>
        </div>
        <div class="fils">
            <img src="{{partenaire7.image}}" alt="{{partenaire7.nom}}">
            <h2>
                {{partenaire7.nom}}
            </h2>
            <p>
                <strong>
                 {{partenaire7.description}}
               </strong>
            </p>
       </div>
</div>
