<div class="bg-white" >
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl"> {{titre}} </h2>
        <p class="text-xl text-gray-500">Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae elementum enim vitae ullamcorper suspendisse. Vivamus fringilla.</p>
      </div>
      <div class="lg:col-span-2">
        <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
          <li *ngFor="let member of teamMembers" class="flex items-center space-x-4 lg:space-x-6">
            <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" [src]="member.image" alt=" {{member.name}} " appImage>
            <div class="font-medium text-lg leading-6 space-y-1">
              <h3>{{ member.name }}</h3>
              <p class="text-indigo-600">{{ member.position }}</p>
              <div *ngIf="selectedMember === member">
                <h4>Détails du membre</h4>
                <p>Âge: {{ member.age }}</p>
                <p>Description: {{ member.description }}</p>
              </div>
              <button class="text-indigo-600" (click)="toggleDescription(member)">Plus de detail</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
