<div class="bg-white">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
        <div class="space-y-5 sm:space-y-4">
          <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl"> {{titre}} </h2>
          <p class="text-xl text-gray-500">  </p>
        </div>
        <div class="lg:col-span-2">
          <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
            <li>
              <div class="flex items-center space-x-4 lg:space-x-6">
                <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src=" {{membre1.image}} " alt=" {{membre1.nom}} " appImage>
                <div class="font-medium text-lg leading-6 space-y-1">
                  <h3>{{membre1.nom | uppercase}}</h3>
                  <p class="text-indigo-600">{{membre1.poste}}</p>
                </div>
              </div>
            </li>
            
            <li>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src=" {{membre2.image}} " alt=" {{membre2.nom}} " appImage>
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3>{{membre2.nom}}</h3>
                    <p class="text-indigo-600">{{membre2.poste}}</p>
                  </div>
                </div>
            </li>

            <li>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"src=" {{membre3.image}} " alt=" {{membre3.nom}} " appImage>
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3>{{membre3.nom | uppercase}}</h3>
                    <p class="text-indigo-600">{{membre3.poste}}</p>
                  </div>
                </div>
            </li>
            
            <li>
              <div class="flex items-center space-x-4 lg:space-x-6">
                <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src=" {{membre4.image}} " alt=" {{membre4.nom}} " appImage>
                <div class="font-medium text-lg leading-6 space-y-1">
                  <h3>{{membre4.nom | uppercase}}</h3>
                  <p class="text-indigo-600">{{membre4.poste}}</p>
                </div>
              </div>
           </li>

           <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src=" {{membre5.image}} " alt=" {{membre5.nom}} " appImage>
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>{{membre5.nom | uppercase}}</h3>
                <p class="text-indigo-600">{{membre5.poste}}</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=" {{membre6.nom}} " appImage>
              <div class="font-medium text-lg leading-6 space-y-1">
                <h3>{{membre6.nom | uppercase}}</h3>
                <p class="text-indigo-600">{{membre6.poste}}</p>
              </div>
            </div>
        </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  