<h2 id="titre"> {{titre}} </h2>
<div class="parent">
    <div class="fils" >
        <h3> {{membre1.nom}} </h3>
        <img src="{{membre1.image}}" alt=" {{membre1.nom}} ">
        <p>
            <strong>
                {{membre1.poste}}
            </strong>
        </p>
    </div>
    <div class="fils" >
        <h3> {{membre2.nom}} </h3>
        <img src="{{membre2.image}}" alt=" {{membre2.nom}} ">
        <p>
            <strong>
                {{membre2.poste}}
            </strong>
        </p>
    </div>
    <div class="fils" >
        <h3> {{membre3.nom}} </h3>
        <img src="{{membre3.image}}" alt=" {{membre3.nom}} ">
        <p>
            <strong>
                {{membre3.poste}}
            </strong>
        </p>
    </div>
    <div class="fils" >
        <h3> {{membre4.nom}} </h3>
        <img src="{{membre4.image}}" alt=" {{membre4.nom}} ">
        <p>
            <strong>
                {{membre4.poste}}
            </strong>
        </p>
    </div>
</div>